<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Black Dashboard by Creative Tim</title>
  <link href="../../vendor/css/fonts/font-face.css" rel="stylesheet" />
  <link href="../../vendor/css/black-dashboard.css" rel="stylesheet" />
  <link href="../../vendor/css/fontawesome.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    {{> admin_sidebar }}
    <div class="main-panel">
      {{> admin_header }}
      <div class="content">
        <div class="row">
          {{{ body }}}
        </div>
      </div>
      {{> admin_footer }}
    </div>
  </div>
  <script src="../../vendor/js/jquery.min.js"></script>
  <script src="../../vendor/js/popper.min.js"></script>
  <script src="../../vendor/js/bootstrap.min.js"></script>
  <script src="../../vendor/js/black-dashboard.min.js"></script>
</body>

</html>
