<div class="select-file">
  <div id="dropzone">
    <div class="dropzone-panel">
      <i class="fal fa-folder"></i>
      <h1 class="dropzone-title">Drag & Drop</h1>
      <p class="dropzone-select">Or select files from your system</h1>
    </div>
  </div>
</div>
<div id="tree-file">
  <div class="tree-file-action">
    <p class="playlist">Playlist (<span class="playlist-count"></span>)</p>
    <i class="fal fa-search"></i>
  </div>
  <div id="tree-file-scroll"></div>
  <div id="video-container"></div>
</div>
<div class="open-play-list d-none"><i class="fal fa-chevron-down"></i></div>
